//基本色调
$color: #2BA9C5;
$color-z: #7A31D5;
$color-hd:#939296;
// 灰黑色
$color-gray-black:#5d5d60;
//背景颜色
$color-bg: #EDEDED;
$color-bg-hover: $color-bg*1.04;
//边框颜色
$color-border: #fff*.87;
//按钮上的灰色文字
$text-gray: #929292;
//按钮主颜色
$btn:transparent;
$btn-red: #d61818;
$btn-blue: #59d;
$btn-yellow:#FF9900;
$btn-gray: $color-bg-hover*.4;;